@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #f9f9f9 !important;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-image: var(--hover-color);
  border-radius: var(--radius);
}

:root {
  --body-color: #f4f6f6;
  --bg-color: #fff !important;
  --gradient-color: linear-gradient(to top, #1c75bc, #27aae1);
  --hover-color: linear-gradient(to top, #27aae1, #1c75bc);
  --radius: 10px;
  --border-radius-60px: 60px;

  --same-color: rgb(136, 136, 136);
  --font-color: #252525;
  --link-color: #1c75bc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
li,
input,
select {
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

p {
  font-size: 13px;
}

/* .closeContainer button, */
.signup-btn a,
button {
  font-size: 12px !important;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}

.social-media li a,
.inner-section ul li a,
.card-button a,
.card-button button,
.deals-heading a,
.slider-card,
.dropdown-menu .nav-item,
.dropdown-menu li:nth-last-child(1) {
  transition: all 0.3s ease-in-out !important;
}

.card-img-logo img,
.coupon-image img,
.footer-logo img,
.pos-image img,
.exculive-img img,
.succe-img img,
.coin-img img,
.top-offer-banner img,
.coupon-img img,
.client-logo img,
.client-button img,
.navbar-light .navbar-brand img,
.icon-img img,
.banner-img img,
.coupons-banner img,
.header-img img,
.card-img img,
.heading-img img,
.spinner-games-section img,
.view_client img,
.pro-image img,
.dropdown-toggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-img img,
.blog-header .header-img img,
.blog-banner img,
.store-img img,
.blog-image img,
.logo-coupon-section img,
.image-deals img,
.slider-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-sec,
.comming-soon,
.inner-layer,
.otp-form-data,
.card-content,
.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coupons-content,
.top-layer,
.navbar-light .navbar-toggler-icon,
.product-single-content span h6,
.social-media li,
.social-media li a,
.coupon-input button,
.coupon-input .code,
.search-icon button,
.coupon-input,
.coin-section-header .coin-img,
.coin-section-header .coin-section,
.verify-info,
.form_data,
.prfile-icons,
.close-btn-icon span,
.spinner-section,
.link-live,
.slick-next,
.slick-prev,
.link-live a,
.search-input-fileds span,
.google-sign,
.status-content,
.closeBtn,
.input-fields .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-section,
.total_coupons_data,
.coupon_card,
.deals-btn-product,
.filter-heading,
.range-handler,
.deals-heading,
.bottom-footer,
.form-button-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input-fileds,
.playstore,
.social-media,
.user-name,
.history-tab,
.input-fields-data,
.search-input,
.filter-client ul,
.google a,
.input-fields {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forgot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coupon_button button,
.slider_banner a,
.closeContainer button,
.coin-content a,
.input-fields-data button,
.button_btn,
.coupon_button a,
.form-button-slider button,
.input-fields button,
.signup-btn a,
.signup-btn button {
  background-image: var(--gradient-color);
  color: var(--bg-color);
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: var(--radius) !important;
}

.coupon_button button:hover,
.slider_banner a:hover,
.coin-content a:hover,
.coupon_button a:hover,
.input-fields-data button:hover,
.nav button:hover,
.button_btn:hover,
.card-button a:hover,
.card-button button:hover,
.form-button-slider button:hover,
.signup-btn a:hover,
.signup-btn button:hover,
.input-fields button:hover {
  background-image: var(--hover-color);
  color: var(--bg-color);
}

.blog-brade-cramp ul li a:hover,
.forgot a:hover {
  text-decoration: underline;
}

.coupon_button button:focus,
.coin-content a:focus,
.coupon_button a:focus,
.input-fields-data button:focus,
.input-fields-data button:active,
/* .input-fields button:focus, */
/* .input-fields button:active, */
.form-button-slider button:focus,
.signup-btn a:focus,
.signup-btn button:focus,
.signup-btn a:active,
.signup-btn button:active,
.btn-secondary:active:focus,
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.navbar-container {
  width: 90% !important;
}
/* .container {
    width: 85%;
  } */
.profile-size {
  width: 98% !important;
}
@media (max-width: 516px) {
  .container {
    width: auto !important;
  }
  .ads-banner,
  .banner-right {
    display: none !important;
  }
  .mobile-response {
    display: block !important;
  }
}

@media (max-width: 1000px) {
  .container {
    width: auto !important;
  }
  .ads-banner,
  .banner-right {
    display: none !important;
  }
  .mobile-response {
    display: block !important;
  }
}
.adds-ban {
  margin-top: 1.3rem;
}
.mobile-nav-res,
.mobile-response {
  display: none;
}

/* ------navbar-section-start----- */
.spinner-games-section {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 99999 !important;
}
.navbar-light .navbar-brand {
  width: 17%;
}
.navbar-nav {
  margin-left: 2rem;
}
.navbar {
  box-shadow: 0px 2px 20px -15px var(--link-color);
}

.nav-item {
  padding: 0;
}

.nav-item .nav-link {
  text-transform: uppercase;
  font-size: 10px !important;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.375rem 0.75rem !important;
  /* border-radius: var(--radius); */
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-toggle {
  padding: 0 !important;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
.btn-secondary:hover {
  background-color: transparent;
  border: none;
}

.profile-icon {
  margin-left: 2rem;
}
.dropdown-menu {
  width: auto;
  border: none;
  padding: 10px !important;
  background-image: var(--gradient-color);
  border: 1px solid red;
}

.profile-icon .nav-item .nav-link:hover {
  background-color: var(--bg-color) !important;
  color: var(--font-color);
}
.profile-icon .nav-item .nav-link {
  font-size: 13px !important;
}

.dropdown-menu li {
  margin-bottom: 5px !important;
}

.dropdown-menu li .logout-btn {
  text-align: center;
  background-color: red;
  border-radius: var(--radius);
  color: var(--bg-color) !important;
}

.dropdown-menu li .logout-btn:hover {
  background-color: rgb(255, 75, 75) !important;
  color: var(--bg-color);
}
.dropdown-menu .nav-item .nav-link {
  border-radius: 4px;
  font-weight: lighter;
  color: var(--bg-color);
  text-transform: capitalize;
}
.user-name {
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: var(--body-color);
}
.prfile-icons {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  background-color: var(--bg-color);
  color: var(--link-color);
  margin-right: 10px;
}
.user-name h5 {
  font-size: 14px;
  color: var(--font-color);
  margin-bottom: 0;
}
.user-name h5:nth-child(1) {
  margin-bottom: 5px;
}

/* -----------login-section-create----------- */
.modal-header {
  padding: 0;
  border: none;
}
.modal-header button {
  background-color: var(--bg-color);
  position: absolute;
  top: -25px;
  right: -25px;
  border-radius: var(--radius);
}

.modal-header button:focus {
  outline: none;
  box-shadow: none;
}
.modal-body {
  border: none;
}
.modal-content {
  border-radius: var(--radius);
  background-color: #ffffffc4;
  backdrop-filter: blur(8px);
  border: none;
  box-shadow: 0px 0px 16px -3px var(--bg-color);
}
.modal-dialog {
  max-width: 350px;
}
.content-form h4 {
  font-size: 1rem;
}
.content-form p {
  font-size: 12px;
}
.slider-banner {
  width: 100%;
  height: 86vh;
}

.slider-banner img {
  border-radius: var(--radius);
}

.form_data {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  padding: 2rem 0;
}
.form_size {
  width: 60%;
  /* border: 1px solid red; */
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--radius);
}

.form-input {
  height: auto;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}
.form-button-slider {
  margin-bottom: 1.5rem;
  width: 90%;
  background-color: var(--body-color);
  border-radius: var(--radius);
  padding: 3px;
}

.form-button-slider button {
  border-radius: var(--radius);
  width: 48%;
}
.input-fields {
  /* border: 1px solid red; */
  margin-bottom: 10px;
  background-color: var(--body-color);
  border-radius: var(--radius);
  width: 100%;
  padding: 3px;
}
.input-fields .icon {
  /* border: 1px solid red; */
  font-size: 1.3rem;
  border-radius: var(--radius);
  width: 36px;
  height: 36px;
  background-color: var(--bg-color);
  color: var(--link-color);
}
/* .input-text-editor textarea, */
.input-fields input {
  width: 90%;
  padding: 6px 6px;
  /* border: 1px solid red; */
  border-radius: var(--radius);
  border: none;
  background-color: transparent;
  font-size: 14px;
}
.input-text-editor textarea::placeholder,
.input-fields input::placeholder {
  font-size: 14px;
  color: rgb(188, 188, 188);
}
.input-text-editor textarea,
.input-fields input:focus {
  outline: none;
}
.input-text-editor {
  border: none;
  border-radius: 10px;
}
.input-text-editor textarea {
  width: 100%;
  height: 16vh;
  background-color: transparent;
  border: none;
  border-radius: 10px !important;
}
.input-fields button {
  width: 100%;
  padding: 9px;
}
.submit-btn {
  padding: 0;
  margin-top: 10px;
}
.forgot {
  width: 100%;
}
.forgot a {
  /* border: 1px solid red; */
  font-size: 10px;
}
.or-section h5 {
  font-size: 15px;
  font-weight: bold;
}
.google-sign {
  width: 85%;
  margin: 0 auto;
}
.google {
  width: 45%;
  margin: 0 auto;
  border-radius: var(--radius);
  background-color: var(--body-color);
  padding: 3px;
}
.google:nth-last-child(1) {
  margin-bottom: 0;
}
.icon-img {
  width: 30px;
  height: 30px;
}
.icon-img img {
  border-radius: var(--radius);
}
.google a h5 {
  text-align: center;
  margin-bottom: 0;
  width: 90%;
  color: var(--font-color);
  font-size: 1rem;
}

.form-heading h5 {
  font-weight: bold;
}

.form {
  width: 90%;
}

.active {
  background-image: var(--hover-color);
  color: var(--bg-color) !important;
  font-weight: lighter !important;
}

/* -----------------header-section-start----------------------- */
.header-section {
  overflow: hidden !important;
}
.header-img {
  width: 100%;
  height: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
  width: 50px !important;
  height: 50px !important;
  border-radius: var(--radius);
  background-image: var(--hover-color);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem !important;
  color: var(--bg-color) !important;
}

.banner-img {
  width: 100%;
  height: auto;
}
.coupons-banner {
  height: auto;
}

/* --------------------hot-deals-card-section--------------- */
.hot-deals {
  /* border: 1px solid red; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.deals-heading {
  border-bottom: 1px solid var(--font-color);
  padding: 10px 0;
}
.deals-heading h4 {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  color: var(--font-color);
}
.see_all a,
.deals-heading a {
  color: var(--font-color);
  font-size: 12px !important;
}
.see_all a:hover,
.deals-heading a:hover {
  color: var(--link-color);
  text-decoration: underline !important;
}

.slider-card {
  box-shadow: 0px 0px 16px -8px var(--link-color);
  height: auto;
  border-radius: var(--radius);
  padding: 6px;
}

.slider-card:hover {
  box-shadow: 0px 0px 16px -4px var(--link-color);
}
.slider-card:hover .link-live {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.card-img {
  width: 100%;
  height: 25vh;
  margin-bottom: 6px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}
.card-img img {
  border-radius: var(--radius);
}

.card-content {
  color: var(--font-color);
  text-align: center;
  height: auto;

  /* border: 1px solid red; */
}

.card-content h1 {
  font-size: 13px;
  font-weight: 500;
}

.card-content h6 {
  font-size: 11px;
  height: 5vh !important;
  color: var(--font-color);
}
.offer-content p,
.card-content h5 {
  font-weight: bold;
  color: var(--link-color);
  font-size: 12px;
  color: var(--link-color);
  margin-bottom: 10px;
}

.link-live {
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border-radius: var(--radius);
  background-color: #00000048;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
}
.link-live a {
  background-color: var(--bg-color);
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 1rem !important;
  text-align: center;
  border-radius: var(--radius);
  color: var(--font-color);
  margin: 2px;
}
.link-live a:hover {
  background-image: var(--hover-color);
  color: var(--bg-color);
}

/* --------------client-filter-section-------------- */
.client-filter-section {
  /* border: 1px solid red; */
  margin-top: 6rem !important;
}

.scroll-bar li {
  margin: 0 10px;
  background-color: var(--bg-color);
}
.scroll-bar li:nth-child(1) {
  margin: 0;
  margin-right: 10px;
}
.scroll-bar li img {
  width: 190px;
  height: 6vh;
  padding: 2px;
  object-fit: contain;
}
/* .scroll-bar li: */
.scroll-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 6px;
}
/* .scroll-bar::-webkit-scrollbar {
  display: block;
} */
.scroll-bar::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: var(--radius);
}
.client-button {
  width: 100%;
}
.client-button {
  background-color: #d7f3ff7d;
  height: auto;
  padding: 14px 0 !important;
  margin: 0 5px;
  font-size: 12px !important;
  transition: all 0.4s ease-in-out !important;
}
.client-button:nth-child(1) {
  margin-left: 0 !important;
}
.client-button:nth-last-child(1) {
  margin-right: 0 !important;
}

.client-button:focus {
  box-shadow: 0px 0px 16px -8px var(--link-color);
  /* border-bottom: 3px solid var(--link-color); */
  background-image: var(--gradient-color);
  color: var(--bg-color);
}
.client-button:hover {
  color: var(--bg-color);
  background-image: var(--hover-color);
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 24px;
  height: 3px;
  border-radius: 10px;
}

/* ----------------Tranding-section---------------- */
.Tranding-section {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.card-logo {
  height: 12vh !important;
  padding: 0 2rem;
}
.card-logo img {
  object-fit: contain !important;
}

.offer-card {
  text-align: center;
}
.card-button {
  width: 100%;
}
.card-button button {
  border: none;
}
.claim-fields button,
.card-button button,
.card-button a {
  padding: 6px;
  width: 100%;
  border-radius: var(--radius);
  background-image: var(--gradient-color);
  color: var(--bg-color);
  font-size: 11px !important;
}

.deals-button a {
  width: 100%;
  padding: 6px 0;
  border-radius: var(--radius);
  background-image: var(--gradient-color);
  color: var(--bg-color);
  font-size: 11px !important;
}
.deals-button a:hover {
  color: var(--bg-color);
  background-image: var(--hover-color);
}
.offer-content {
  height: 8vh;
  margin-bottom: 10px;
}
.coupon-img {
  width: auto;
  height: 6vh !important;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coupon-img img {
  width: 70%;
  margin: 0 auto;
  border-radius: 0px;
  object-fit: contain !important;
}

.offer-content h5,
.offer-content h4 {
  font-size: 13px;
  color: var(--font-color);
  font-weight: bold;
  color: var(--link-color);
}

.image-deals {
  width: 100%;
  height: 25vh;
}
.image-deals img {
  border-radius: var(--radius);
}
.client-logo {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 30%;
  height: 5vh;
  margin: 0 auto;
}
.deals-content {
  text-align: center;
  height: 12vh;
  /* border: 1px solid red; */
}
.deals-content h4 {
  font-size: 12px;
  color: var(--font-color);
  height: auto;
}
.deals-content h5 {
  font-size: 11px;
}

.img img {
  height: 10vh;
  width: 100%;
  object-fit: cover;
}

.top-offer-banner {
  height: auto;
  cursor: pointer;
}

/* ------------all-store-data------------- */
.inner-store-filter {
  border: 1px solid var(--bg-color);
  border-radius: var(--radius);
  padding: 10px;
}
.store-heading h3 {
  font-size: 19px;
}
.filter-client {
  margin-top: 14px;
  border-radius: var(--radius);
  padding: 10px;
  background-color: var(--bg-color);
}
.form-data {
  /* border: 1px solid red;  */
  height: auto;
  /* padding: 2rem 0; */
  width: 90%;
}
.heading-filter h4 {
  font-size: 13px;
  margin-bottom: 12px;
}
.filter-client ul {
  flex-wrap: wrap;
}
.filter-client ul li a,
.filter-client ul li button {
  border: 1px solid var(--link-color);
  background-color: var(--bg-color);
  padding: 3px 10px !important;
  border-radius: 4px;
  margin: 4px;
}
.filter-client ul li a:focus,
.filter-client ul li button:focus {
  background-image: var(--gradient-color);
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
}
.search-input {
  background-color: var(--body-color);
  border-radius: 4px;
  padding: 4px;
}
.search-input input {
  border: none;
  background-color: transparent;
  padding: 2px 10px;
  width: 90%;
  font-size: 12px;
}
.search-input input:focus {
  outline: none;
}
.search-input input::placeholder {
  font-size: 12px;
}
.search-icon {
  color: var(--link-color);
}

.range-handler h5 {
  font-size: 12px;
  margin-bottom: 2px;
}

.filter-heading h3 {
  font-size: 13px;
}

/* -------------single-page-section---------------- */
.single-product {
  border-radius: var(--radius);
  background-color: var(--bg-color);
  padding: 10px;
}
.deals-btn-product {
  bottom: 0;
  width: 98%;
}
.product-single {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-single h4 {
  width: auto !important;
  margin-bottom: 0;
}
.mrp-rate-section h4 {
  font-size: 11px;
  margin-right: 10px;
  color: gray !important;
  margin-bottom: 0;
}

.mrp-rate-section h6 {
  font-size: 13px;
  margin-bottom: 0;
  color: #000;
}

.Details_card {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: var(--radius);
  padding: 10px;
  position: relative;
}
.heading-img {
  width: 100%;
  height: auto;
  border: 1px solid var(--body-color);
  border-radius: var(--radius);
  position: relative;
}
.heading-img span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 9vh;
  object-fit: contain;
  background-color: var(--body-color);
}
.heading-img img {
  border-radius: var(--radius);
}
.single-product-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-single-content {
  margin-top: 1rem;
  border-radius: var(--radius);
}

.product-single-content span {
  padding: 4px 10px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-radius: var(--radius);
  font-size: 12px;
  border: 1px dotted var(--link-color);
}
.product-single-content span h6:hover {
  background-image: var(--gradient-color);
  color: var(--bg-color);
}

.product-single-content span h6 {
  width: 30px;
  height: 30px;
  border-radius: var(--radius);
}

.span-side h6 {
  margin-left: 10px;
}
.desc {
  margin-top: 1.5rem;
}

.product-single-content h2 {
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 80%;
}
.product-single-content h4 {
  color: var(--link-color);
  font-size: 15px;
  width: 80%;
}

.span-side {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  background-color: #1c74bc57;
  border: 1px solid #1c75bc;
  color: var(--link-color);
}

.button_btn {
  width: 30%;
  font-size: 14px !important;
  padding: 6px 14px;
  text-align: center;
}
.red-type {
  /* border: 1px solid red !important; */
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.red-type-cate {
  background-color: rgba(255, 0, 0, 0.388);
  color: red !important;
  border: 1px solid red !important;
}
.product-dot ul {
  padding-left: 14px !important;
}
.product-dot ul li {
  list-style-type: disc !important;
  margin-bottom: 8px;
}

.product-dot h5 {
  font-size: 14px;
}
/* -----------loader-spinner----------- */
.spinner-section {
  height: 50vh;
}

/* ---------profile-data-section--------------- */
.profile-data {
  background-color: var(--bg-color);
  height: auto;
  border-radius: var(--radius);
  padding: 10px;
}
.col-data h4 {
  font-size: 18px;
  color: var(--link-color);
  margin-bottom: 0;
}
.filter-client ul {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.nav button {
  width: 100% !important;
  margin-bottom: 10px;
  text-align: left;
  color: var(--font-color);
  font-size: 12px !important;
  background-color: var(--bg-color) !important;
}
.nav-pills .nav-link.active {
  background-image: var(--hover-color) !important;
  color: var(--bg-color);
  background-color: transparent !important;
}

.profile-data .tab-content .active {
  background-image: linear-gradient(to top, transparent, transparent);
  color: var(--font-color) !important;
}

/* ----------change-password-section---------- */
.input-fields-data {
  /* border: 1px solid red; */
  margin-bottom: 10px;
}
.input-fields-data:nth-last-child(1) {
  margin-bottom: 0;
}

.input-fields-data label {
  width: 22%;
  font-size: 12px !important;
}
.input-fields-data input {
  padding: 6px 12px;
  border-radius: var(--radius);
  background-color: var(--body-color);
  border: none;
  font-size: 14px;
  color: var(--font-color);
  width: 40%;
}
.input-fields-data input:focus {
  outline: none;
}
.input-fields-data button {
  margin-top: 1.5rem;
  padding: 8px 18px;
}
.input-fields-data input[disabled] {
  cursor: not-allowed;
}

.forgot-password {
  /* border: 1px solid red; */
  width: 100%;
}
.verify-info {
  width: auto;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(255, 65, 65);
  color: var(--font-color);
  margin-left: 5px;
  color: var(--bg-color);
  font-size: 12px;
  padding: 4px 10px;
}

.verify-success {
  width: 30px;
  height: 30px;
  border-radius: var(--radius);
  font-size: 17px;
  background-color: rgba(3, 126, 3, 0.712) !important;
}

/* ------go to up btn------- */
.GoToUp .goIcon {
  color: var(--bg-color) !important;
  animation: GoToUp 0.6s linear infinite alternate-reverse;
  font-size: 1.1rem;
}

.GoToUp {
  z-index: 999;
  background-image: var(--gradient-color);
  width: 42px;
  height: 42px;
  border-radius: var(--radius);
  border: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@keyframes GoToUp {
  0% {
    transform: translateY(-0.3rem);
  }

  100% {
    transform: translateY(0.3rem);
  }
}

.GoToUp:hover {
  background-image: var(--hover-color);
  box-shadow: 0 0 2px 2px var(--link-color);
}
.description-product {
  width: 90%;
}

.description-product h5 {
  font-size: 16px;
  color: var(--font-color);
}
.product-list {
  margin: 1rem 0;
}
.product-list ul li,
.description-product p {
  color: var(--font-color);
  font-size: 12px;
  /* border: 1px solid red; */
}

/* ------------------history-tab-section---------------- */
.history-tab {
  border: none !important;
  /* border: 1px solid red !important; */
  height: 6vh;
}
.history-tab button {
  width: 20% !important;
  text-align: center;
}
.history-tab .nav-link:hover,
.history-tab .nav-link:active,
.history-tab .nav-link:focus {
  background-image: var(--gradient-color) !important;
  color: #fff !important;
  border: none !important;
}
.history-tab .nav-link.active {
  background-image: var(--hover-color);
  color: var(--bg-color) !important;
  border: none !important;
}
.coin-section {
  /* border: 1px solid red !important; */
  height: 7vh;
  margin-bottom: 10px;
  border-radius: var(--radius);
  background-color: var(--body-color);
  width: 29%;
  padding: 0 10px;
}
.coin-img {
  /* border: 1px solid red; */
  width: 36px;
  height: 36px;
  margin-right: 10px;
  overflow: hidden;
}
.coin-img img {
  /* border: 1px solid red; */
  transform: rotateY(45deg);
  animation: rotate_coin 0.8s infinite linear;
}

.coin-content h4 {
  margin-bottom: 0;
  font-size: 15px;
}
.coin-content h4 span {
  font-size: 11px;
  font-weight: bold;
}
.coin-content a {
  padding: 6px 10px;
}

@keyframes rotate_coin {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}

.col-data:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.coupon_card {
  height: auto;
  border-radius: var(--radius);
  background-color: var(--body-color);
  padding: 10px;
  color: var(--font-color);
}
.coupon_button {
  width: 30%;
}
.coupon_title {
  width: 45%;
}

.coupon_title h2 {
  font-size: 14px;
}

.coupon_button p,
.coupon_title h3 {
  font-size: 11px;
  margin-bottom: 0;
}
.coupon_button h5 {
  font-size: 13px;
}
.coupon-hist h5 {
  font-size: 16px;
  font-weight: bold;
}
.coupon_button {
  text-align: right;
}
.coupon_button button,
.coupon_button a {
  font-size: 10px !important;
  padding: 5px 14px;
}
.exculive-img {
  width: 14%;
  height: 6vh;
}
.history-data h5 {
  margin-bottom: 0;
}
.history-data h5 span {
  background-color: red;
  padding: 0 5px;
  border-radius: 3px;
  color: var(--bg-color);
}
.history-title h2 span {
  color: red;
  font-size: 1rem;
}
.history-title h3 span {
  color: red;
  margin-left: 10px;
}
.history-color h3 span {
  color: green;
}
.history-color h2 span {
  color: green;
}
.history-color h5 span {
  background-color: green;
}

/* ----------------verify-section------------------- */
.succe-img {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.coin-section-header {
  /* border: 1px solid red; */
  width: 7%;
}
.coin-section-header .coin-section {
  width: 100%;
  height: 4vh;
  margin: 0 !important;
  padding: 2px !important;
}
.coin-section-header a {
  font-size: 10px !important;
  display: none;
}
.coin-section-header .coin-img {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  /* border: 1px solid red; */
}
.coin-section-header .coin-section h4 {
  font-size: 12px;
}
.coin-section-header .coin-section h4 span {
  font-size: 9px;
}

/* --------------------coupon-details-section------------------------- */
.inner-coupon-items {
  /* border: 1px solid red; */
  height: auto;
}
.coupon-details {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
}
.logo-coupon-section {
  width: 60%;
  height: 26vh;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: var(--radius);
}
.logo-coupon-section img {
  border-radius: var(--radius);
}
.coupon-input {
  margin-top: 1rem !important;
  /* border: 1px solid red; */
}
.coupon-input .code {
  border: 1px dotted var(--link-color);
  width: 30%;
  height: 10vh;
  position: relative;
}
.coupon-input .code::before {
  content: "";
  width: 71%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252525;
}
.coupon-input button {
  margin-left: 10px;
  width: 20%;
  height: 10vh;
  margin-bottom: 0;
  border: none;
  background-color: rgb(130, 194, 130);
  color: var(--bg-color);
  font-size: 1.6rem !important;
  font-weight: bold;
  letter-spacing: 2px;
}

.coupon-details h3 {
  font-size: 1.4rem;
}
.coupon-details h4 {
  font-size: 1.2rem;
}
.coupon-details p {
  font-size: 14px;
}
.coupon-details h6 {
  font-size: 15px;
}
.coupon-details h6 span {
  font-size: 14px;
  padding: 0 10px;
  background-color: var(--bg-color);
}

/* ------------footer-section-start------------- */
.footer-bg {
  background-image: var(--gradient-color);
  padding-bottom: 1rem !important;
}
.footer-section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap !important;
}
.footer-logo {
  background-color: var(--bg-color);
  width: 75%;
  border-radius: 6px;
}

.inner-section {
  height: 45vh;
  width: 25%;
  padding: 25px 10px 10px 70px;
}
.inner-section:nth-child(1) {
  padding: 25px 10px 10px 10px !important;
}
.inner-section:nth-child(4) {
  padding: 25px 10px 10px 10px !important;
}
.footer-heading {
  margin-bottom: 14px;
}
.footer-heading h4 {
  font-size: 1rem;
  color: var(--bg-color);
  position: relative;
  padding-bottom: 5px;
}
.footer-heading h4::after {
  content: "";
  width: 14%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--body-color);
}
.inner-section ul li {
  margin-bottom: 8px;
}
.inner-section ul li a {
  color: var(--bg-color);
  font-size: 12px;
}

.inner-section ul li a:hover {
  padding-left: 4px;
  text-decoration: underline;
  color: var(--body-color);
}

.bottom-footer {
  border-top: 1px solid var(--bg-color);
  padding: 8px 0 0 0;
}
.company h5 {
  font-size: 11px !important;
  color: var(--bg-color);
  margin-bottom: -2px;
  margin-right: 2.5rem;
}
.policy {
  /* border: 1px solid red; */
  padding-right: 3rem !important;
}
.policy ul li {
  display: inline-block;
  margin: 0 5px;
}
.policy ul li a {
  color: var(--bg-color);
  font-size: 11px !important;
}
.policy ul li a:hover {
  text-decoration: underline;
  color: var(--body-color);
}
.social-media li {
  margin: 0 !important;
}
.social-media li:nth-child(2) {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.social-media li a {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  font-size: 26px !important;
}
.social-media li a:hover {
  padding-left: 0 !important;
}

.social-media li:nth-child(6) a,
.social-media li:nth-child(5) a {
  font-size: 20px !important;
}

.social-media li:nth-child(1) a:hover {
  background-color: #00acee;
}
.social-media li:nth-child(2) a:hover {
  background-color: #3b5998;
}
.social-media li:nth-child(3) a:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-media li:nth-child(4) a:hover {
  background-color: #00acee;
}

.social-media li:nth-child(5) a:hover {
  background-color: #a82400;
}
.social-media li:nth-child(6) a:hover {
  background-color: #c8232c;
}
.social-media li:nth-child(7) a:hover {
  background-color: #c4302b;
}
.playstore {
  margin-top: 1rem;
}
.store-img {
  width: 40%;
  height: 6vh;
}
.store-img:nth-child(1) {
  margin-right: 10px;
}
.store-img img {
  border-radius: 6px;
}

.logo-para p {
  font-size: 11px;
  margin-top: 10px;
  color: var(--bg-color);
  text-align: justify;
  width: 95%;
}
.logo-para p a {
  font-size: 12px !important;
  color: var(--bg-color);
}
.logo-para p a:hover {
  text-decoration: underline;
}

/* ---------------------edit--------------- */
.view_client {
  height: auto;
  position: relative;
}
.pos-image {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--body-color);
}
.pos-image img {
  object-fit: contain !important;
}
.view_client_d {
  height: 35vh;
}
.see_all {
  text-align: center;
}
.tranding-offer {
  /* height: 13vh; */
  height: 7vh;
}
.tranding-offer span a {
  margin-bottom: 0;
  height: auto !important;
}
.total_coupons_data {
  width: 100%;
}
.total_coupons_data a {
  /* border: 1px solid red; */
  padding: 4px 10px;
  background-color: rgb(180, 180, 180);
  border-radius: var(--radius);
  color: var(--bg-color);
  font-size: 10px !important;
}
/* ----------------------------condition-section-------------------------- */
.banner-div {
  background-image: var(--gradient-color);
  height: 60vh;
}
.text-main {
  /* border: 1px solid rgb(164, 161, 161); */
  width: 70%;
  color: #fff;

  font-weight: 600;
}
.text-main-step {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.text-main-2 {
  padding: 17px;
  /* border: 1px solid red; */
  width: 100%;
}
.text-main-2 h2 {
  color: #1c75bc;
  font-weight: 600;
}
.stpe-text {
  /* border-left: 2px solid rgb(202, 211, 244); */
  /* border: 1px solid rgb(0, 255, 38); */

  height: 30vh;
  /* margin-top: 120px; */
}

.stpe-text h6 {
  font-size: 12px;
  margin-left: 16px;
}
.stpe-text h4 {
  font-size: 17px;
  margin-left: -13px;
  display: flex;
  align-items: center;
}
.stpe-text h4 span {
  margin-right: 12px;
  color: #1c75bc;
}
.file-upload-div {
  border: 3px dotted var(--link-color);
  border-radius: 20px;
  height: 20vh;
  text-align: center;
  position: relative;
}
.file-upload-div p {
  height: auto;
  position: absolute;
  left: var(--radius);
  top: var(--radius);
  transform: translate(-var(--radius), -var(--radius));
}
.file-upload-div input {
  height: 100%;
  opacity: 0;

  position: absolute;
  right: 0;
}
.text-main-head {
  height: 60vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* _____________form________________ */
.input-group .btn {
  z-index: 33 !important;
  width: 6.9rem !important;
  background-color: #f4f6f6;
}
.input-group {
  width: 96%;
  margin: 0 auto;
}
.form-go-up-side {
  border-radius: 20px;
  padding: 20px !important;
  margin-top: -120px;
  background-color: #fff;
  width: 95%;
  height: auto;
  -webkit-box-shadow: 0px 0px 8px 1px #0000002a;
  -moz-box-shadow: 0px 0px 8px 1px #0000002a;
  box-shadow: 0px 0px 8px 1px #0000002a;
}
.form-upper-text {
  border-bottom: 2px solid rgb(106, 106, 106);
  padding: 0 !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 200, "opsz" 48;
}
.about-form-submit button {
  width: 100% !important;
  /* border: 1px solid red; */
  background-image: var(--gradient-color);
  color: #fff;
  font-weight: 800;
}
.about-form-submit button {
  color: #fff !important;
}
/* ---------------------------terms css---------------------------------- */
.terms-all-text p {
  font-size: 13px;
  text-align: justify;
}

.terms-banner-div-start h1 {
  color: #fff;
  font-weight: 600;
}
.terms-banner-div {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient-color);
}

/* --------------- about------------------- */
.casddost-about-banner-div {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient-color);
  color: #fff;
}

.casddost-about-banner-div-all-text-1 {
  margin-top: 20px;
  padding: 3%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
  border-radius: 20px;
}
.total_coupons_data a:hover,
.about-bottom:hover {
  background-image: var(--hover-color);
}
.about-bottom {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 20px;
  padding: 3%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.082);
  background-image: var(--gradient-color);
}
.about-bottom-text {
  width: 30rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.button_bottom {
  padding: 10px 20px 10px 20px;
}
.main-heading {
  text-transform: uppercase;
}

/* -------------faq css------------- */
.accordion-header,
.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item {
  border-radius: var(--radius);
}
.accordion-flush .accordion-item {
  margin-bottom: 10px;
}

.accordion-body p {
  font-size: 12px;
}
.accordion-flush .accordion-item .accordion-button {
  font-size: 13px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125) !important;
}
.accordion-button::after {
  width: 18px;
  height: 18px;
  background-size: 14px !important;
}
.terms-all-text p ol li,
.accordion-list li {
  list-style: decimal !important;
}
.accordion-body h6 {
  font-size: 12px;
  font-weight: 500;
}
.accordion-body .accordion-list li {
  font-size: 12px;
}
/* ___________resmonsiv___________________ */

@media only screen and (max-width: 820px) {
  .form-go-up-side {
    margin-top: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 7px;
  }
  .text-main-head {
    height: 18vh;
    display: flex;
    justify-content: center;
  }
  .banner-div {
    background-image: var(--gradient-color);
    height: 20vh;
  }
  .text-main-2 {
    width: 100%;
  }
  .text-main-step {
    display: flex;
    justify-content: center;
    height: 32vh;
  }
}
@media only screen and (max-width: 600px) {
  .form-go-up-side {
    margin-top: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 7px;
  }
  .text-main-head {
    height: 18vh;
    display: block;
    text-align: center;
  }
  .banner-div {
    background-image: var(--gradient-color);
    height: 20vh;
  }
  .text-main-2 {
    width: 100%;
  }
  .text-main-step {
    display: flex;
    justify-content: center;
    height: 80vh;
  }
}

/* ---------------------------------------------- */
.product-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  gap: 18px;
}
.product-grid-store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)) !important;
  gap: 18px;
}
.product-items {
  padding: 0 !important;
  position: relative;
}
.hot-deals-filter {
  position: absolute;
  top: 3px;
  left: 0;
  object-fit: cover;
  font-size: 2rem;
  z-index: 99;
  height: auto;
  display: flex;
  justify-content: center;
  border-radius: 6px 0 0 0;
}
.product-btn button {
  width: 100%;
}
.product-btn a {
  padding: 6px;
  width: 100%;
}
.form-input form,
.form-input form .form {
  width: 100%;
}

.grid-swiper-slider {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 0 !important;
  padding-right: 1.6rem !important;
}
/* .product-hot-deals{
  width: 220px !important;
  
} */

.carousel-item,
.slider-section {
  height: 60vh;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------coupon-popup---------------- */
.modal-coupon {
  max-width: 600px !important;
}
.coupons-content {
  height: 70vh !important;
}
.coupon-image {
  width: auto;
  height: 10vh;
  margin: 0 auto;
}
.coupon {
  width: 500px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: stretch;
  position: relative;
  text-transform: uppercase;
}
.coupon_edit {
  width: 100%;
  height: 5vh !important;
  filter: drop-shadow(0 3px 5px rgba(174, 174, 174, 0.5));
}
.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--radius);
  height: 100%;
  z-index: -1;
}

.coupon::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0 var(--radius),
    transparent 25px,
    gold 26px
  );
}

.coupon::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% var(--radius),
    transparent 25px,
    gold 26px
  );
}

.coupon > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 20%;
  border-right: 2px dashed rgba(0, 0, 0, 0.13);
}
.left div {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-weight: bold;
}

.coupons-center {
  flex-grow: 1;
  text-align: center;
  padding: 0 5px;
  width: 60%;
}

.right {
  width: 120px;
  background-image: radial-gradient(
    circle at 100% var(--radius),
    transparent 25px,
    #fff 26px
  );
}
.right div {
  transform: rotate(-90deg);
}

.coupons-center h2 {
  background: #000;
  color: gold;
  padding: 0 10px;
  font-size: 1rem;
  /* white-space: nowrap; */
}

.coupons-center h3 {
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px dotted var(--bg-color);
  border-radius: 6px;
  padding: 6px;
}
.coupons-center h3:hover {
  background-color: green;
  color: var(--body-color);
}
.coupons-center h3:target,
.coupons-center h3:focus {
  background-color: green !important;
  color: var(--body-color);
}
.coupons-center p {
  font-size: 0.625rem;
  font-weight: 600;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .coupon {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.coupon:focus {
  border: 2px solid red;
}

.otp-form-data {
  height: 100vh;
}
.center-data {
  height: auto;
  width: 30%;
}
.model-emergency-open {
  max-width: 600px;
}
.modal-eme {
  width: 100%;
  height: 40vh;
}
.top-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000006d;
  backdrop-filter: blur(7px);
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.inner-layer {
  width: 40%;
  height: 40vh;
  background-image: var(--gradient-color);
  border-radius: var(--radius);
  position: relative;
}
.inner-layer h4 {
  color: #fff;
}
.close-btn-icon span {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: var(--radius);
  background-color: var(--bg-color);
  color: var(--font-color);
}
.inner-layer a {
  background-image: var(--gradient-color);
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
}
.inner-layer a:focus,
.inner-layer a:hover {
  color: var(--bg-color);
  background-image: var(--hover-color);
  box-shadow: none;
}

.inner-layer p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: var(--bg-color);
}

/* ----------------------------comming-soon---------------------- */
.comming-soon {
  width: 100%;
  height: 85vh;
}

@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  left: var(--radius);
  top: var(--radius);
  transform: translate(-var(--radius), -var(--radius));
  -webkit-transform: translate(-var(--radius), -var(--radius));
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
}

.wrapper h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: var(--link-color);
}

.wrapper p {
  text-align: center;
  margin: 18px;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}
.coming-soon {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.coming-soon a {
  border-radius: 60px;
}

/* -----------------search-icon-start------------------- */
.search-icon {
  margin-right: 1.3rem;
}
.search-input-fileds input {
  width: 100%;
  padding: 12px 14px;
  border: none;
  font-size: 12px;
  border-radius: var(--radius);
  color: #626262;
}
.search-input-fileds input:focus {
  outline: 2px solid var(--link-color);
}
.search-input-fileds input::placeholder {
  font-size: 12px;
}
.navbar-search {
  width: 39%;
  position: relative;
  margin-right: 13px;
}
.navbar-search span {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
  font-size: 23px;
  color: var(--link-color);
}
.search-result-section {
  position: absolute;
  top: 3.3rem;
  left: 0;
  background-color: var(--body-color);
  width: 100%;
  height: 40vh;
  border-radius: 0 0 var(--radius) var(--radius);
  overflow-y: scroll;
}

.search-result-section::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.search-result-section::-webkit-scrollbar-thumb {
  background-image: var(--hover-color);
  border-radius: var(--radius);
}

.search-result-section ul li a {
  width: 100%;
}
.search-result-section ul li a:hover svg {
  background-color: var(--link-color);
  color: var(--body-color);
}
.search-result-section ul li a svg {
  font-size: 18px !important;
  margin-right: 10px;
  border-radius: var(--radius);
  width: 25px;
  height: 25px;
  padding: 5px;
  color: var(--link-color);
}

/* -------------------------------------------- */
.grid-swiper-slider {
  padding-right: 20px !important;
}

.loader-sec {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)) !important;
  gap: 16px;
}
.filter-store-data {
  position: relative;
}
.filter-store-data h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  color: var(--font-color);
  font-family: "Righteous", cursive;
}
.filter-store-data h1::before {
  content: "";
  width: 10%;
  height: 3px;
  background-image: var(--gradient-color);
  position: absolute;
  left: var(--radius);
  bottom: -10px;
  transform: translate(-var(--radius), 0);
  border-radius: 20px;
}

.slick-list {
  height: auto;
}
.slick-track .slick-slide {
  padding: 0 10px;
}
.slick-next {
  width: 35px !important;
  height: 35px !important;
  transform: translate(-72%, -var(--radius)) !important;
  color: transparent !important;
  z-index: 999;
  background-image: var(--gradient-color) !important;
  border-radius: var(--radius);
}

.slick-prev {
  width: 35px !important;
  height: 35px !important;
  transform: translate(72%, -var(--radius)) !important;
  color: transparent !important;
  background-image: var(--gradient-color) !important;
  border-radius: var(--radius);
  z-index: 999;
}

.slick-prev:before,
.slick-next:before {
  font-size: 1.4rem !important;
  line-height: normal !important;
}

/* ---------------ads-banner----------------- */
.ads-banner {
  position: absolute;
  top: var(--radius);
  left: 0;
  transform: translate(0%, 85%);
}
.banner-right {
  position: absolute;
  top: var(--radius);
  right: 0;
  transform: translate(0%, 85%);
}

.store-ads .ads-img {
  height: auto;
}

.store-ads .ads-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--radius);
}
.filter-client .store-ads:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.no-result {
  width: var(--radius);
  position: absolute;
  top: 20%;
  left: var(--radius);
  transform: translate(-var(--radius), -var(--radius));
  font-size: 18px;
  color: gray;
  text-align: center;
}

.ads-banner-sec {
  width: 728px;
  height: 90px;
  margin: 0 auto;
}
.ads-banner-sec img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ----------------------------------------------------------------------------- */
.claim-form-section {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("./Page/Spinner/assets/bg.jpg"); */
  padding: 4rem 0;
}

.claim-form-section form {
  width: var(--radius);
  padding: 2rem;
  background-color: #ffffff97;
  backdrop-filter: blur(5px);
  border-radius: var(--radius);
}
.claim-heading h4 {
  font-size: 1.5rem;
}
.claim-heading p span {
  color: red;
}
.claim-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 13px;
}
.claim-fields label {
  font-size: 15px;
  color: var(--font-color);
  margin-bottom: 6px;
}
.claim-fields textarea,
.claim-fields input {
  width: 100%;
  padding: 10px 4px;
  border-radius: 6px 6px 0 0;
  border: none;
  border-bottom: 1px solid var(--link-color);
  font-size: 15px;
}
.claim-fields textarea:focus,
.claim-fields input:focus {
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--link-color);
  background-color: var(--body-color);
}
.claim-fields textarea::placeholder,
.claim-fields input::placeholder {
  letter-spacing: 1px;
  color: gray;
  font-size: 13px;
}

.claim-fields button {
  border: none !important;
  padding: 10px 0;
}
.check-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 20px 0;
}

.check-box input {
  margin-right: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.check-box p {
  margin-bottom: 0;
}
.claim-fields img {
  border: 1px solid red;
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: var(--radius);
}
.rediredct-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.claim-input-side {
  width: 100%;
}
.claim-fields-input {
  width: 88% !important;
}
.claim-fields .disabled-btn {
  background-image: linear-gradient(gray, gray);
}

/* -----------------------------profile-claim-gift---------------------------- */
.winning-grid {
  background-color: var(--body-color);
  padding: 10px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.claim-heading h4 {
  font-size: 1.1rem;
}
.approve-status,
.pending-status,
.success-status,
.failed-status {
  border: 1px solid rgb(255, 0, 0);
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 4px;
  background-color: rgb(255, 137, 137);
  color: var(--bg-color);
  margin-right: 6px;
}
.success-status {
  border: 1px solid rgb(12, 121, 0);
  background-color: rgb(118, 182, 114);
}
.pending-status {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(61, 61, 61);
}
.approve-status {
  border: 1px solid rgb(0, 68, 120);
  background-color: rgb(142, 199, 255);
}

.side-content {
  flex-basis: 65%;
}
.side-content h4 {
  font-size: 14px;
  color: var(--font-color);
}
.side-content h6 {
  font-size: 12px;
  margin-top: 10px;
}
.side-content p a,
.side-content p {
  font-size: 10px !important;
  color: gray;
  margin-bottom: 0;
}
.status-content h6 {
  font-size: 13px;
}
.info-status {
  font-size: 20px;
  color: var(--font-color);
}

.tele-btn .link-btn {
  font-size: 12px !important;
  border: none;
  background-color: #229ed9;
  color: #fff !important;
  padding: 2px 14px 2px 3px;
  border-radius: var(--radius);
}
.tele-btn span svg {
  font-size: 1.7rem;
  margin-top: 0 !important;
  margin-right: 5px;
}

.brade-crampe h5 {
  font-size: 12px !important;
  color: gray;
}
.brade-crampe h5 a {
  font-size: 19px !important;
  color: var(--link-color);
}
.brade-crampe span a {
  font-size: 12px !important;
}

.adds-ban {
  display: none;
}

.cate-store {
  font-size: 20px;
  margin-bottom: 1.6rem;
}

.card-img-logo {
  width: 40%;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* ----------------------------------------blog-section--------------------------------- */
.blog-card {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 10px -7px var(--link-color);
  transition: all 0.3s ease-in-out;
}
.blog-card:hover .blog-content h3 {
  text-decoration: underline;
}
.blog-image {
  width: 100%;
  height: 24vh;
  position: relative;
}
.blog-image span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  background-image: var(--gradient-color);
  color: var(--bg-color);
  padding: 3px 10px;
  border-radius: 2px;
}
.blog-content {
  padding: 6px;
}
.blog-content h3 {
  font-size: 15px;
  color: var(--font-color);
}
.blog-content p {
  font-size: 12px;
  color: gray;
}
.blog-content h6 {
  font-size: 12px;
}

.blog-content button {
  background-image: var(--gradient-color);
  color: var(--bg-color);
  border-radius: 4px;
  border: none;
  padding: 3px 10px;
}

.blog-banner {
  height: 90vh;
  position: relative;
}

.outer-content {
  width: 60%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-image: var(--gradient-color);
  border-radius: var(--radius);
  padding: 1rem;
  color: var(--body-color);
}

.outer-content h1 {
  font-size: 32px;
}
.pro-image {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: var(--radius);
  margin-right: 14px;
}

.profile-content h4 {
  font-size: 13px;
  margin-bottom: 2px;
}

.profile-content h5 {
  font-size: 12px;
}

.category-filter,
.blog-section-s {
  background-color: #fff;
  padding: 1rem;
  border-radius: var(--radius);
}

.blog-section-s p img {
  width: 100%;
}

.category-filter ul li a {
  color: var(--font-color);
}

.category-filter ul li a:hover {
  text-decoration: underline;
}

.category-filter ul li a,
.blog-keywords ul li {
  display: inline-block;
  background-color: var(--link-color);
  color: var(--bg-color);
  font-size: 12px;
  padding: 2px 10px;
  margin: 5px;
  border-radius: 2px;
}

.blog-header .header-img {
  width: 100%;
  height: 80vh;
}

.blog-brade-cramp ul li {
  font-size: 12px;
  padding: 0 10px;
}

.blog-brade-cramp ul span {
  color: var(--link-color);
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-list li a {
  margin: 0 !important;
  padding: 6px !important;
  /* background-color: var(--bg-color) !important; */
}
.ul-list li {
  margin-bottom: 10px;
}
.blog-single-comment ul li:nth-last-child(1),
.ul-list li:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.popular-post-blog .rounded {
  width: 60px;
  height: 60px;
  border-radius: var(--radius) !important;
  margin-right: 5px;
}
.blog-content-text {
  flex: 70%;
}
.blog-content-text h4 {
  font-size: 13px;
}

/* -----------------comment-post-------------------- */

.blog-comment-section,
.blog-single-comment {
  background-color: var(--bg-color);
  border-radius: var(--radius);
  padding: 1rem;
}
.vcard img {
  width: 50px;
  height: 50px;
}
.comment h3 {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 0;
  text-decoration: underline;
  color: var(--font-color);
}
.comment-body .meta {
  font-size: 12px;
  color: var(--link-color);
}
.comment-body p {
  margin-top: 10px;
  font-size: 14px;
}

.blog-single-comment h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px !important;
}
.blog-single-comment ul li {
  background-color: var(--body-color);
  border-radius: var(--radius);
  padding: 1rem;
  margin-bottom: 18px !important;
}

/* -------------------store-ancher-tag-css-change----------------------- */
.filter-client ul li a {
  font-size: 12px !important;
}
.filter_button_section button:nth-child(1) {
  margin-right: 10px;
}
